<p id="notice"><%= notice %></p>

<p>
  <strong>Uf:</strong>
  <%= @local.uf %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @local.cidade %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @local.endereco %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @local.complemento %>
</p>

<p>
  <strong>Status:</strong>
  <%= @local.status %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
