<h1>Listing pauta</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pauta.each do |pautum| %>
      <tr>
        <td><%= pautum.titulo %></td>
        <td><%= pautum.data %></td>
        <td><%= pautum.status %></td>
        <td><%= link_to 'Show', pautum %></td>
        <td><%= link_to 'Edit', edit_pautum_path(pautum) %></td>
        <td><%= link_to 'Destroy', pautum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pautum', new_pautum_path %>
