<h1>Listing questaos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data</th>
      <th>Status</th>
      <th>Solucao</th>
      <th>Pauta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questaos.each do |questao| %>
      <tr>
        <td><%= questao.titulo %></td>
        <td><%= questao.data %></td>
        <td><%= questao.status %></td>
        <td><%= questao.solucao %></td>
        <td><%= questao.pauta %></td>
        <td><%= link_to 'Show', questao %></td>
        <td><%= link_to 'Edit', edit_questao_path(questao) %></td>
        <td><%= link_to 'Destroy', questao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questao', new_questao_path %>
