<%= form_for(@ponto) do |f| %>
  <% if @ponto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ponto.errors.count, "error") %> prohibited this ponto from being saved:</h2>

      <ul>
      <% @ponto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :staus %><br>
    <%= f.text_field :staus %>
  </div>
  <div class="field">
    <%= f.label :solucao %><br>
    <%= f.text_field :solucao %>
  </div>
  <div class="field">
    <%= f.label :questao_id %><br>
    <%= f.text_field :questao_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
