<h1>Listing pontos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data</th>
      <th>Staus</th>
      <th>Solucao</th>
      <th>Questao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pontos.each do |ponto| %>
      <tr>
        <td><%= ponto.titulo %></td>
        <td><%= ponto.data %></td>
        <td><%= ponto.staus %></td>
        <td><%= ponto.solucao %></td>
        <td><%= ponto.questao %></td>
        <td><%= link_to 'Show', ponto %></td>
        <td><%= link_to 'Edit', edit_ponto_path(ponto) %></td>
        <td><%= link_to 'Destroy', ponto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ponto', new_ponto_path %>
