<%= form_for(@atum) do |f| %>
  <% if @atum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atum.errors.count, "error") %> prohibited this atum from being saved:</h2>

      <ul>
      <% @atum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.text_field :hora %>
  </div>
  <div class="field">
    <%= f.label :atafinal %><br>
    <%= f.text_field :atafinal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
