<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @atum.titulo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @atum.status %>
</p>

<p>
  <strong>Data:</strong>
  <%= @atum.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @atum.hora %>
</p>

<p>
  <strong>Atafinal:</strong>
  <%= @atum.atafinal %>
</p>

<%= link_to 'Edit', edit_atum_path(@atum) %> |
<%= link_to 'Back', ata_path %>
