<h1>Listing reuniaos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data</th>
      <th>Horainicio</th>
      <th>Horafim</th>
      <th>Status</th>
      <th>Local</th>
      <th>Ata</th>
      <th>Pauta</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reuniaos.each do |reuniao| %>
      <tr>
        <td><%= reuniao.titulo %></td>
        <td><%= reuniao.data %></td>
        <td><%= reuniao.horaInicio %></td>
        <td><%= reuniao.horaFim %></td>
        <td><%= reuniao.status %></td>
        <td><%= reuniao.local %></td>
        <td><%= reuniao.ata %></td>
        <td><%= reuniao.pauta %></td>
        <td><%= reuniao.categoria %></td>
        <td><%= link_to 'Show', reuniao %></td>
        <td><%= link_to 'Edit', edit_reuniao_path(reuniao) %></td>
        <td><%= link_to 'Destroy', reuniao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reuniao', new_reuniao_path %>
